n8n-workflows/Video to Audio to Transcript.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config1').item.json.apiBaseUrl }}/video-to-audio",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "08348407-4edf-4ecf-ab5e-e98ba70f4521",
      "name": "Convert Video to Audio (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config1').item.json.apiBaseUrl }}/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 600000
        }
      },
      "id": "95248721-63c0-4c52-ab00-7547e2afacb7",
      "name": "Transcribe Audio (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "fileId",
              "value": "\"fileId\": \"YOUR_GOOGLE_DRIVE_FOLDER_ID\"",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "apiBaseUrl",
              "value": "\"fileId\": \"YOUR_API_BASE_URL\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "158b1102-9455-4ca4-bc5d-b74ec987f9b6",
      "name": "Set Config1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        -208
      ],
      "id": "99abc385-8fb4-4207-9494-bd3f3a845be3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bu9uM177fePOF58c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "\"YOUR_DRIVE_ID\" in parents  and mimeType contains 'video/'  and not name contains 'done_'",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        -208
      ],
      "id": "6680db56-e88b-4780-b1e2-9720b7ceb8c0",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bu9uM177fePOF58c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "",
          "mode": "id",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "newUpdatedFileName": "=done_{{$node[\"Search files and folders\"].json.name}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        0
      ],
      "id": "7cab7418-a87f-4fc0-8fb4-3a72846f8041",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qUZWiVTQPxxhlodU",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional content strategist and copywriter for \"The Senior Living Experience (SLE)\" — a trusted media and educational platform helping California families navigate aging-parent care decisions, with a specific focus on the six-bed RCFE residential care model. SLE is a media brand first, placement resource second. Trust is earned before anything is offered.\n\nYour task is to transform a podcast transcript into high-quality marketing content that is ready for review.\n\n## Brand Voice\nFollow these writing guidelines strictly:\n- Calm, warm, emotionally intelligent, trustworthy\n- Human and conversational — sophisticated but approachable\n- Never clinical, never salesy, never urgent\n- Start with her experience — never the brand\n- Name the hard thing before offering any solution\n- Short sentences when emotional weight is high\n- Encourage hope, confidence, and informed decision-making\n- Avoid exaggerated marketing language and clickbait\n- Avoid overly technical medical terminology unless it appears naturally in the transcript\n- Do not invent facts, statistics, or stories not present in the transcript — if information is missing, do not fabricate it\n\n**Phrases to use naturally where they fit:**\n- \"You don't have to have it all figured out.\"\n- \"You are not failing her.\"\n- \"You don't have to do this alone.\"\n- \"This is information you deserve to have.\"\n\n**Never say:**\n- \"Schedule your free consultation\"\n- \"Don't wait — act now\" (or any urgency/scarcity language)\n- \"Loved ones\" (say mother, father, parent instead)\n- \"Seamless\" or \"journey\"\n\n**Newsletter sign-off:** \"With warmth, The Senior Living Experience\"\n\n## Target Audience (primary)\nWomen age 50–55 in California — the sandwich generation, managing aging parents and adult children at once. Often business owners or executives. Overwhelmed by caregiving decisions. Values trust, safety, dignity, warmth, authentic human connection. She is 52. She runs a team. She didn't sleep last night.\nSecondary: adult-child caregivers broadly, discharge planners/social workers/healthcare professionals, families evaluating six-bed residential care options.\n\n## Your Tasks\nAnalyze the transcript carefully — this is Julie Norris's (Julie Patricia) podcast, \"The Senior Living Experience Podcast,\" where she draws on her lived experience running six-bed RCFE homes and raising her daughters inside them.\n\nGenerate the following:\n\n### 1. Episode Title\n- SEO-friendly, engaging, maximum 70 characters\n- Should reflect the emotional core of the episode, not just the topic\n\n### 2. Show Notes\n- 250–500 words\n- Summarize the episode, mention key discussion points, include important takeaways\n- Written in SLE brand voice, not neutral podcast-directory tone\n\n### 3. Blog Draft\n- 800–1200 words\n- Clear headings, easy to read, professional formatting\n- Expand ideas only when supported by the transcript\n- Fonts/visual context (for reference, not to output): Cormorant Garamond headings, DM Sans body, warm cream background\n\n### 4. Facebook Caption\n- Friendly, 100–200 words, encourages discussion, ends with a soft CTA, no urgency language, no hashtags\n\n### 5. Instagram Caption\n- Conversational, short paragraphs, emojis only where genuinely appropriate (sparingly — SLE is warm, not cutesy)\n- 8–12 relevant hashtags\n- Soft CTA close\n\n### 6. TikTok Script\n- Hook in the first sentence, 30–60 seconds, conversational, written as if Julie is speaking directly to camera in her own voice\n- End with a soft CTA, no corporate phrasing\n\n### 7. Quote Ideas\n- Generate 5 memorable quotes pulled or lightly adapted directly from the transcript, suitable for branded social graphics (sage/cream/blush palette). Each under 20 words where possible. Do not invent quotes not grounded in the transcript.\n\n### 8. Newsletter Copy\n- 150–250 words\n- Brief summary, explain why readers should listen, end with a CTA linking to the episode\n- Close with: \"With warmth, The Senior Living Experience\"\n\n### 9. Suggested Short-form Clip Timestamps\nFor OpusClip processing (raw audio → OpusClip → LinkedIn/Facebook/YouTube Shorts).\nIdentify 5 strong clips from the transcript. For each clip provide:\n- Start Time\n- End Time\n- Title\n- Why this clip is engaging (emotional moment, key insight, relatable turn of phrase, etc.)\nUse transcript timestamps whenever available. If timestamps are unavailable, estimate them logically based on pacing and content position.\n\n## Formatting Rules\nReturn ONLY valid JSON.\nDo not include markdown.\nDo not include explanations.\nUse this schema exactly:\n\n{\n  \"episode_title\": \"\",\n  \"show_notes\": \"\",\n  \"blog_draft\": \"\",\n  \"facebook_caption\": \"\",\n  \"instagram_caption\": \"\",\n  \"tiktok_script\": \"\",\n  \"quote_ideas\": [\"\", \"\", \"\", \"\", \"\"],\n  \"newsletter_copy\": \"\",\n  \"short_form_clips\": [\n    {\n      \"title\": \"\",\n      \"start_time\": \"\",\n      \"end_time\": \"\",\n      \"reason\": \"\"\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        0
      ],
      "id": "8739862b-26de-4eb0-afb8-de6c4af63fa5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -528,
        176
      ],
      "id": "fddaff7f-4ecd-4554-866c-9f40462c6015",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vBPtbnDPoQYMK9ZO",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the first input item\nconst input = $input.first().json;\n\n// Parse the JSON string\nconst parsed = JSON.parse(input.output);\n\n// Return as n8n items\nreturn $input.all().map(item => {\n  return {\n    json: JSON.parse(item.json.output)\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        0
      ],
      "id": "c049630c-3aa8-42f7-a3b7-e96c55d0f198",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "16de1e19-c165-41b2-85c2-bf3733d7f9f0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X8b6lJU1IqRHs20D",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "\"YOUR_MAIL_ADDRESS\"",
        "subject": "Review The Senior Living Experience (Podcast)",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        0
      ],
      "id": "f959dfdc-026d-4429-a0fc-87991ebdf2d3",
      "name": "Send a message",
      "webhookId": "db08549e-c2df-4b49-9e75-0cf7a07aad8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fv9Mh8IspjwDiB1h",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $(\"Code in JavaScript\").all();\n\n\nfunction escapeHtml(text) {\n\n  if (text === undefined || text === null) return \"\";\n\n  return String(text)\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\\n/g, \"<br>\");\n\n}\n\n\n\nfunction renderList(items){\n\n  if(!Array.isArray(items)) return \"\";\n\n  return `\n  <ul>\n  ${items.map(item => `\n    <li>${escapeHtml(item)}</li>\n  `).join(\"\")}\n  </ul>\n  `;\n\n}\n\n\n\nfunction renderClips(clips){\n\n  if(!Array.isArray(clips)) return \"\";\n\n  return `\n\n  <table>\n\n  <tr>\n  <th>Clip Title</th>\n  <th>Start Time</th>\n  <th>End Time</th>\n  <th>Reason</th>\n  </tr>\n\n\n  ${clips.map(clip => `\n\n  <tr>\n\n  <td>${escapeHtml(clip.title)}</td>\n\n  <td>${escapeHtml(clip.start_time)}</td>\n\n  <td>${escapeHtml(clip.end_time)}</td>\n\n  <td>${escapeHtml(clip.reason)}</td>\n\n  </tr>\n\n  `).join(\"\")}\n\n\n  </table>\n\n  `;\n\n}\n\n\n\n\nreturn items.map(item => {\n\n\nconst data = item.json;\n\n\n\nconst html = `\n\n<!DOCTYPE html>\n\n<html>\n\n<head>\n\n<meta charset=\"UTF-8\">\n\n\n<style>\n\n\nbody{\n\nmargin:0;\npadding:0;\nbackground:#f4f7f5;\nfont-family:Arial,Helvetica,sans-serif;\ncolor:#333;\n\n}\n\n\n\n.container{\n\nwidth:700px;\nmax-width:95%;\nmargin:40px auto;\nbackground:#fff;\nborder-radius:15px;\noverflow:hidden;\nbox-shadow:0 5px 20px rgba(0,0,0,.1);\n\n}\n\n\n\n.header{\n\nbackground:#315c4a;\ncolor:#fff;\npadding:35px;\ntext-align:center;\n\n}\n\n\n.header h1{\n\nmargin:0;\nfont-size:28px;\n\n}\n\n\n\n.content{\n\npadding:35px;\n\n}\n\n\n\n.section{\n\nmargin-bottom:30px;\n\n}\n\n\n\nh2{\n\ncolor:#315c4a;\nfont-size:20px;\nborder-bottom:2px solid #315c4a;\npadding-bottom:8px;\n\n}\n\n\n\n.card{\n\nbackground:#f8faf9;\npadding:18px;\nborder-radius:10px;\nline-height:1.7;\nfont-size:15px;\n\n}\n\n\n\nul{\n\npadding-left:25px;\n\n}\n\n\n\nli{\n\nmargin-bottom:8px;\n\n}\n\n\n\ntable{\n\nwidth:100%;\nborder-collapse:collapse;\nfont-size:14px;\n\n}\n\n\n\nth{\n\nbackground:#315c4a;\ncolor:white;\npadding:10px;\ntext-align:left;\n\n}\n\n\n\ntd{\n\nborder:1px solid #ddd;\npadding:10px;\n\n}\n\n\n\n.footer{\n\nbackground:#f1f6f3;\npadding:20px;\ntext-align:center;\nfont-size:12px;\ncolor:#666;\n\n}\n\n\n</style>\n\n\n</head>\n\n\n<body>\n\n\n<div class=\"container\">\n\n\n<div class=\"header\">\n\n<h1>\nThe Senior Living Experience\n</h1>\n\n<p>\nPodcast Content Package - Review Draft\n</p>\n\n</div>\n\n\n\n<div class=\"content\">\n\n\n\n<div class=\"section\">\n\n<h2>Episode Title</h2>\n\n<div class=\"card\">\n\n${escapeHtml(data.episode_title)}\n\n</div>\n\n</div>\n\n\n\n\n\n<div class=\"section\">\n\n<h2>Show Notes</h2>\n\n<div class=\"card\">\n\n${escapeHtml(data.show_notes)}\n\n</div>\n\n</div>\n\n\n\n\n\n<div class=\"section\">\n\n<h2>Blog Draft</h2>\n\n<div class=\"card\">\n\n${escapeHtml(data.blog_draft)}\n\n</div>\n\n</div>\n\n\n\n\n\n<div class=\"section\">\n\n<h2>Facebook Caption</h2>\n\n<div class=\"card\">\n\n${escapeHtml(data.facebook_caption)}\n\n</div>\n\n</div>\n\n\n\n\n\n<div class=\"section\">\n\n<h2>Instagram Caption</h2>\n\n<div class=\"card\">\n\n${escapeHtml(data.instagram_caption)}\n\n</div>\n\n</div>\n\n\n\n\n\n<div class=\"section\">\n\n<h2>TikTok Script</h2>\n\n<div class=\"card\">\n\n${escapeHtml(data.tiktok_script)}\n\n</div>\n\n</div>\n\n\n\n\n\n<div class=\"section\">\n\n<h2>Newsletter Copy</h2>\n\n<div class=\"card\">\n\n${escapeHtml(data.newsletter_copy)}\n\n</div>\n\n</div>\n\n\n\n\n\n<div class=\"section\">\n\n<h2>Quote Ideas</h2>\n\n<div class=\"card\">\n\n${renderList(data.quote_ideas)}\n\n</div>\n\n</div>\n\n\n\n\n\n<div class=\"section\">\n\n<h2>Short Form Clips</h2>\n\n<div class=\"card\">\n\n${renderClips(data.short_form_clips)}\n\n</div>\n\n</div>\n\n\n\n</div>\n\n\n\n\n<div class=\"footer\">\n\nGenerated for review only.<br>\n\nNothing has been published automatically.\n\n<br><br>\n\nThe Senior Living Experience\n\n</div>\n\n\n\n</div>\n\n\n</body>\n\n</html>\n\n`;\n\n\n\nreturn {\n\njson:{\n\nhtml: html,\n\nsubject: `Review Draft - ${data.episode_title || \"Podcast Content\"}`\n\n}\n\n};\n\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "87909ee9-d15f-424e-9b34-9b6f642f302a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 29
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -208
      ],
      "id": "e1cc86e3-8f12-4488-9e98-ffe0e36ec937",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert Video to Audio (API)": {
      "main": [
        [
          {
            "node": "Transcribe Audio (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (API)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Convert Video to Audio (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "09368fd4-1416-4c89-8c4e-514166c2d9f2",
  "meta": {
    "instanceId": "b9d20ad043f91cb8f3534b83204ccf2c1aaf429933a622896df4f34a16fb55db"
  },
  "nodeGroups": [],
  "id": "u8VNduxQzB1tlznY",
  "tags": []
}